<% provide(:title, "Registration fee") %>

<h1>Registration fee</h1>

<p>Only registered participants are allowed to attend the Conference and the School.</p>
<p>The Conference registration fee includes:</p>
<ul>
  <li>Scientific sessions technical support</li>
  <li>Poster sessions technical support</li>
  <li>Thesis publicaiton</li>
  <li>Welcome party</li>
  <li>Coffee/lunch breaks</li>
  <li>Conference dinner</li>
</ul>
<p>Conference fees:</p>
<p>International participant (academic): 300 Euro</p>
<p>International student: 150 Euro</p>
<p>Russian participant (academic): 10000 Rub</p>
<p>Russian student: 3000 Rub</p>
<p>The School registration fee includes:</p>
<ul>
  <li>Classes/sessions technical support</li>
  <li>Coffee/lunch breaks</li>
  <li>School materials</li>
</ul>
<p>Discounts can be provided in some cases (please contact us). Students volunteers are welcome.</p>
<p>Before May 30 registration fee is to be paid by bank transfer (details availible soon).
  After the June 1 registration fee is accepted only in cash at registration.</p>