<% provide(:title, "Key dates") %>

<h1>Key dates</h1>

<h2>
  <strong>Early registration and abstract submission deadline:</strong> March 15 </br>
  <strong>Extended deadline:</strong> April 15 </br>
  <strong>Conference:</strong> June 14-16
</h2>