<% provide(:title, "Organizing committee") %>

<h1 xmlns="http://www.w3.org/1999/html">Organizing committee</h1>

<h2>
  <p>For any questions please write to: bioinformatics2016@fbras.ru</p>
  <p>Conference secretaries: </br>
  Yulia Medvedeva: ju.medvedeva@gmail.com</br>
  Anna Lioznova: lanna2009@gmail.com
  </p>
  <p>IT specialist:</br>
    Alexey Sokolov: sokolovbiotech@gmail.com
  </p>
</h2>