<% provide(:title, "Organizing committee") %>

<h1 xmlns="http://www.w3.org/1999/html">Organizing committee</h1>

<h2>
  <p>For any questions please write to: <%= mail_to "bioinformatics2016@fbras.ru" do %>
        <strong> bioinformatics2016@fbras.ru </strong>
    <% end %></p>
  <p><strong>Conference secretaries: </strong></br>
  Anna Lioznova
  </p>
  <p><strong>IT specialist:</strong></br>
    Alexey Sokolov
  </p>
</h2>