<% provide(:title, "Program") %>

  <h1>Program</h1>

<p><strong>14.06.16</strong></p>
<p>9.00 Registration</p>
<p>9.25 Welcome remarks</p>
</br>

<p><strong>9.30 Section 1: Cancer genetics and epigenetics</strong></p>
<p>Chair: Yulia Medvedeva</p>
<p>9.30 Valentina Boeva (Invited speaker) Computational analysis of epigenetic landscape and chromatin states in cancer:
  deciphering the rewiring rules of transcriptional regulatory networks in neuroblastoma</p>
<p>10.15 Ilya Vorontsov. Sequence analysis of regulatory variants reveals mutation preferences and selection selection
  pressure on somatic mutations in cancer lineages induced by transcription factor binding
</p>
<p>10.40 Tatyana Gorbacheva Free circular DNA as a biomarker of metastasis</p>
</br>

<p><strong>11.05 Coffee break</strong></p>
</br>

<p><strong>11.30 Section 2: From sequencing to gene regulation I</strong></p>
<p>Chair: Carsten Daub</p>
<p>11.30 Albin Sandelin (Invited speaker) The Promoter- and Enhancer Landscape of Inflammatory Bowel Disease</p>
<p>12.15  Finn Drablos (Invited speaker) How to prepare genes for rapid activation</p>
</br>
<p><strong>13.00 Lunch break</strong></p>
</br>
<p><strong>14.30 Section 3: From sequencing to gene regulation II</strong></p>
<p>Chair:  Albin Sandelin</p>
<p>14.30 Carsten Daub (Invited speaker) Gene regulation underlying insulin response and its dys-regulation in obesity</p>
<p>15.15 Ekaterina Khrameeva. Dictyostelium discoideum chromosomes are partitioned into domains functionally similar to
  topologically associating domains of higher eukaryotes</p>
<p>15.40 Yulia Medvedeva. Chromatin changes induced by DNA demethylation</p>
</br>
<p><strong>16.05 Coffee break</strong></p>
</br>
<p><strong>16.30 Section 4: RNA bionformatics and regulation</strong></p>
<p>Chair: Vsevolod Makeev</p>
<p>16.30 Ivan Antonov Predicting antisense interactions of long noncoding RNAs in human cells</p>
<p>16.55 Anna Obraztsova Novel comparative genomic approach for detecting nonhomologous RNA regulatory elements</p>
</br>
<p><strong>17.30 Poster section and welcome reception</strong></p>
</br>
<p><strong>15.06.16</strong></p>
<p><strong>10.00 Section 5: Molecular evolution</strong></p>
<p>Chair: Johannes Soeding</p>
<p>10.00  Elena Osipova. Evolution history of lipoxygenase pathway enzymes</p>
<p>10.25 Irina Medvedeva. How are protein functional sites encoded by exon structure in Metazoas</p>
<p>10.50 Maria A. Andrianova. Human mismatch repair system corrects errors produced during lagging strand replication more effectively</p>
<p>11.15 Alexander Panchin. Methylation and preservation of CpG dinucleotides in human CpG islands</p>
</br>
<p><strong>11.40 Coffee break</strong></p>
</br>
<p><strong>12.00 Section 6: Structural bioinformatics</strong></p>
<p>Chair: Arne Elofsson</p>
<p>12.00 Arne Elofsson (Invited speaker) PconsC3: Improved contact predictions for smaller families</p>
<p>12.45 Alexander Osypov. Electrostatics as a new old factor of the natural selection in genome</p>
<p>13.10 Yaroslav Popov. StructAlign - a program for alignment of structures of DNA-protein complexes</p>
<p>13.35 Olga Zanegina. Search of conserved features in protein-DNA complexes via Nucleic acid – Protein
  Interaction DataBase (NPIDB)</p>
</br>
<p><strong>14.00 Lunch break</strong></p>
</br>
<p><strong>15.00 Section 7: Motifs in the sequence</strong></p>
<p>Chair: Finn Drablos</p>
<p>15.00 Johannes Soeding (Invited speaker) Bayesian higher-order models consistently outperform PWMs at predicting regulatory motifs in nucleotide sequences
</p>
<p>15.25 Ivan Kulakovskiy. HOCOMOCO collection of transcription factor binding sites models: expansion, enhancement and practical applications</p>
<p>15.50 Nurbubu Moldogazieva. Short linear motifs derived from fetoplacental proteins: bioinformatics and molecular dynamics simulation study
</p>
</br>
<p><strong>16.15 Coffee break</strong></p>
</br>
<p><strong>16. 40 Section 8: Translation and regulation</strong></p>
<p>Chair: Ivan Kulakovskiy</p>
<p>16.40 Pavel Baranov (Invited speaker) Through the Ribosome Profiling, darkly: can mRNA remember and ribosomes foresee?</p>
<p>17.35 Vassily Lyubetsky. Ribosome Reinitiation at Leader Peptides Increases Translation of Bacterial Proteins</p>
<p>18.00 Irina Eliseeva. Can transcription determine future of mRNAs? A case study on mTOR translational control in mammals.</p>
</br>
<p><strong>19.30 Conference dinner</strong></p>
</br>
<p><strong>16.06.16</strong></p>
<p><strong>10.00 Section 9: Bioinformatics in 3D</strong></p>
<p>Chair: Pavel Baranov</p>
<p>10.00 Nadia Chuzhanova (Invited speaker) Mutability in 3D</p>
<p>10.45 Sofia Mariasina. Bioinformatics approaches in NMR structure determination of methyltransferase WBSCR27</p>
</br>
<p><strong>11.10 Coffee break</strong></p>
</br>
<p><strong>11.30 Section 10: Populational genetics</strong></p>
<p>Chair: Ivan Antonov</p>
<p>11.30 Irina Tsvetkova. Genetic structure of Streptococcus pneumoniae population</p>
<p>11.55 Tatyana Gromovykh. The problem of the genetic stability of the strain Gluconacetobacter hansenii GH 1-2008</p>
</br>
<p><strong>12.25 Concluding remarks</strong></p>
</br>
<p><strong>12.40 Lunch</strong></p>
</br>
<p><strong>14.00 Moscow excursion </strong></p>
</br>
<p><strong>Posters:</strong></p>
<p>Anna Petukhova. Bioinformatic approaches to building of gene regulatory networks</p>
<p>Anna Lioznova. Regulatory role of single CpG methylation</p>
<p>Praharshit Sharma FastQ-ome: A Random-Forest ensemble of FastQ-reads as Decision-Trees</p>
<p>Denis Vorobyev. Two methods to calculate E-value of RNA of a definite shape</p>
<p>Artem Kasianov. Identifying genes of antimicrobial peptides in transcriptomes of Triticum kiharae dorof. et Migush</p>
<p>Artem Artemov. Genome-wide DNA methylation profiling reveals epigenetic adaptation of stickleback to sea and freshwater conditions</p>
<p>Alexey Sokolov. DNA Study of the Early Bronze Age humans in the North Caucasus reveals their dual connection with Near East and Central Europe</p>
<p>Anatoly Bragin. Computer Analysis of RNA-seq Data Computer of Laboratory Rats with Aggressive Behavior
</p>
