<% provide(:title, "Program") %>

  <h1>Program</h1>

  <h2>
    Preliminary program
  </h2>
<p><strong>14.06.16</strong></p>
<p>9.00 Registration</p>
<p>9.25 Welcome remarks</p>

<p><strong>9.30 Section 1: Cancer genetics and epigenetics</strong></p>
<p>Chair: Yulia Medvedeva</p>
<p>9.30 Valentina Boeva (Invited speaker) Computational analysis of epigenetic landscape and chromatin states in cancer</p>
<p>10.00 Vsevolod Makeev TBA</p>
<p>10.30 Tatyana Gorbacheva Free circular DNA as a biomarker of metastasis</p>
<p>10.50 TBA</p>
<p>11.10 Coffee break</p>

<p><strong>11.30 Section 2: From sequencing to gene regulation I</strong></p>
<p>Chair: Carsten Daub</p>
<p>11.30 Albin Sandelin (Invited speaker) Principles for RNA formation and demise within bidirectionally transcribed loci</p>
<p>12.00 TBA</p>
<p>12.30  Carsten Daub (Invited speaker) Gene regulation underlying insulin response and its dys-regulation in obesity</p>

<p><strong>13.00 Lunch break</strong></p>

<p><strong>14.30 Section 3: From sequencing to gene regulation II</strong></p>
<p>Chair:  Albin Sandelin</p>
<p>14.30 Finn Drablos (Invited speaker) How to prepare genes for rapid activation</p>
<p>15.00 TBA</p>
<p>15.30 TBA</p>

<p><strong>16.00 Coffee break</strong></p>

<p><strong>16.30 Section 3: RNA bionformatics and regulation</strong></p>
<p>Chair:  Albin Sandelin</p>
<p>16.30 Ivan Antonov Predicting antisense interactions of long noncoding RNAs in human cells</p>
<p>17.00 Anna Obraztsova Novel comparative genomic approach for detecting nonhomologous RNA regulatory elements</p>
<p>17.20 Alexey Sokolov New pipeline for efficient splicing events calling</p>
<p>17.40 TBA</p>

<p><strong>18.00 Poster section</strong></p>

<p><strong>19.00 Welcome reception</strong></p>

<p><strong>15.06.16</strong></p>
<p><strong>9.00 Section 5: Sequence alignments</strong></p>
<p>Chair: TBA</p>
<p>9.00 Yaroslav Popov StructAlign - a program for alignment of structures of DNA-protein complexes</p>
<p>9.30 Eugene Korotkov New mathematical approach for search of multiple alignments of nucleotide and amino acid sequences</p>
<p>10.00 TBA</p>

<p><strong>10.20 Coffee break</strong></p>

<p><strong>11.00 Section 6: Modeling regulatory networks</strong></p>
<p>Chair: Finn Drablos</p>
<p>11.00 Johannes Soeding (Invited speaker) Bayesian higher-order models consistently outperform PWMs at predicting regulatory motifs in nucleotide sequences</p>
<p>11.30 Ivan Kulakovskiy HOCOMOCO collection of transcription factor binding sites models: expansion, enhancement and practical applications</p>
<p>12.00 Yulia Medvedeva Role of DNA sequence in shaping epigenetic modifications</p>

<p><strong>12.30 Lunch break</strong></p>

<p><strong>14.00 Section 7: Structural bioinformatics</strong></p>
<p>Chair:  Arne Elofsson</p>
<p>14.00 Arne Elofsson (Invited speaker) PconsC3: Improved contact predictions for smaller families</p>
<p>14.30 Denis Vorobyev Two methods to calculate E-value of RNA of a definite shape</p>
<p>14.50 Alexander Osypov Electrostatics as a new old factor of the natural selection in genome</p>

<p><strong>15.10 Coffee break</strong></p>

<p><strong>16. 00 Section 8: Translation and regulation</strong></p>
<p>Chair: Ivan Kulakovskiy</p>
<p>16.00 Pavel Baranov (Invited speaker) Why do we know so little about tranlsation?</p>
<p>16.30 Vassily Lyubetsky Ribosome Reinitiation at Leader Peptides Increases Translation of Bacterial Proteins</p>
<p>17.00 TBA</p>

<p><strong>19.00 Conference dinner</strong></p>

<p><strong>16.06.16</strong></p>
<p><strong>9.00 Section 9: Polymorphisms and mutations</strong></p>
<p>Chair: TBA</p>
<p>9.00 Nadia Chuzhanova (Invited speaker) Mutability in 3D</p>
<p>9.30 Yuriy Orlov Analysis of nucleotide contexts of SNP containing sites</p>
<p>10.00 Alexander Panchin Preservation of methylated CpG dinucleotides in human CpG islands</p>

<p><strong>10.30 Coffee break</strong></p>

<p><strong>11.00 Section 10: TBA</strong></p>
<p>Chair: Ivan Antonov</p>
<p>11.00 Artem Kasianov Identifying genes of antimicrobial peptides in transcriptomes of Triticum kiharae dorof. et Migush</p>
<p>11.30 TBA</p>
<p>12.00 TBA</p>
<p>12.20 Concluding remarks</p>

<p><strong>12.30 Lunch</strong></p>




<p><strong>Posters:</strong></p>
<p>Irina Tsvetkova Genetic structure of Streptococcus pneumoniae population</p>
<p>Anna Petukhova Bioinformatic approaches to building of gene regulatory networks</p>
<p>Elena Osipova Evolutionary history of lipoxygenase pathway enzimes</p>
<p>Tatiana Grishaeva Different conservation of basic protein groups and their functional domains in meiosis of Eukaryotes</p>
<p>Anna Lioznova Regulatory role of single CpG methylation</p>
<p>Nurbubu Moldogazieva, Innokenty Mokhosoev  Short linear motifs derived from fetoplacental proteins: bioinformatics and molecular dynamics simulation study</p>
<p>Praharshit Sharma FastQ-ome: A Random-Forest ensemble of FastQ-reads as Decision-Trees</p>