<% provide(:title, "School") %>


<h1>Big data analysis in bioinformatics and applications</h1>

<h2>
  The program will be available soon
</h2>

<p>As a part of a School a Students' Symposium will be organized. We encourage you to submit your abstracts.
  Although it is not necessary to submit an abstract to be accepted for the School, this is a great opportunity to
  practice how to present your results to your colleagues. Accepted abstracts will be published in the Conference
  Book. The best presentations will be selected as short talks for the SocBiN Bioinformatics Conference.</p>

<div class="center" xmlns="http://www.w3.org/1999/html">
  <%= link_to "Register now!", new_student_path, class: "btn btn-lg btn-primary" %>
</div>